<div class="makimono">

  <%# 名前表示 %>
  <div class="title-makimono">
    <div class="title">
      <%= current_user.name %>さん
    </div>
  </div>
  <%# /名前表示 %>

  <%# 自分の投稿作品一覧 %>
  <div class="haiku-list slide-paused" ontouchstart="">>
    <% @haiku.each do %>
      <ul class="card">
        <%= render partial: 'shared/haiku', collection: @haiku %>
      </ul>
    <% end %>
  </div>
  <%# /自分の投稿作品一覧 %>

</div>