// Place all the styles related to the haikus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the haikus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  height: 100%;
  width: 100%;
}

.body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','ＭＳ 明朝', 'MS Mincho',sans-serif;
}

.makimono {
  height: 100%;
  width: 100%;
  border-top: solid 8vh #738851;
  border-bottom: solid 8vh #738851;
  display: flex;
  background-image: url("../images/japanese-paper.jpeg");
}

.title-makimono {
  width: 8%;
  border-left: solid 1vw #738851;
  border-right: solid 1vw #738851;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  writing-mode: vertical-rl;
  font-size: 3rem;
  font-weight: bold;
}


.card_wrapper {
  width: 72%;
  display: flex;
  flex-direction: row-reverse;
}

.card_wrapper>h2 {
  margin-top: 2rem;
  writing-mode: vertical-rl;
}

.haiku-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
}

.card {
  list-style: none;
  display: flex;
  width: 100%;
  animation: loop-slide 20s infinite linear 1s both;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.list {
  border: solid 1px;
  writing-mode: vertical-rl;
  margin: 2rem 2rem;
  font-size: 1rem;
  position: relative;
  background-color: lemonchiffon;
}

.content-hover {
  transition: all 0.2s;
}

.slide-paused:hover .card {
  animation-play-state: paused;
}

.content-hover:hover {
  transform: translateY(-20px);
  border-radius: 0 5%;
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.8;
  cursor: pointer;
  animation-play-state: paused;
}

.card_kami {
  padding-top: 6rem;
  padding-right: 1rem;
}

.card_naka {
  padding-top: 8rem;
  padding-right: 1rem;
}

.card_shimo {
  padding-top: 10rem;
  padding-right: 1rem;
}

.card_name {
  padding-top: 25rem;
  padding-left: 0.5rem;
}

.card_success {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  background-color: #de3400;
  border-radius: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

.side_bar {
  border:1px solid;
  width: 20%;
  height: 100%;
}

.top_wrapper {
  border:1px solid;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center_wrapper{
  border:1px solid;
  writing-mode: vertical-rl;
  margin: 1rem auto;
}

.field {
  margin-top: 3rem;
}

.haiku-post {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.bottom_wrapper {
  text-align: center;
}

.inputfield {
  padding-top: 3rem;
  width: 2rem;
  height: 18rem;
  margin: 1vw;
}  

